        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
        body {
            padding: 0px;
            margin: 0px;
            font-family: 'Lexend Deca';
            background: hsl(233, 47%, 7%);
        }
        
         :root {
            --cor-main: hsl(233, 47%, 7%);
            --cor-conteudo-descricao: hsl(244, 38%, 16%);
            --cor-span: hsl(277, 64%, 61%);
            --image-shadow: hsl(282deg, 84%, 35%);
            --white: hsl(0, 0%, 100%);
            --slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
            --slightly-transparent-white-stat-headings: hsla(0, 0%, 100%, 0.6);
        }
        
        main {
            display: flex;
            background: var(--cor-main);
            color: var(--white);
            padding: 24px;
        }
        
        .imagem {
            height: 225px;
            background: var(--image-shadow);
            border-radius: 15px 15px 0px 0px;
        }
        
        .imagem img {
            width: 100%;
            height: 225px;
            filter: opacity(55%);
            border-radius: 15px 15px 0px 0px;
        }
        
        .conteudo__descricao {
            display: flex;
            text-align: center;
            padding: 15px;
            background: var(--cor-conteudo-descricao);
            border-radius: 0px 0px 15px 15px;
        }
        
        .titulo__descricao {
            font-family: "Inter";
            font-size: 30px;
        }
        
        .descricao__conteudo span {
            color: var(--cor-span);
        }
        
        .descricao__detalhes {
            color: var(--slightly-transparent-white-stat-headings);
            font-family: "Inter";
            padding-top: 15px;
            font-weight: 400;
            line-height: 1.6em;
        }
        
        .status__empresa {
            padding-top: 15px;
            font-family: 'Inter';
            font-weight: 700;
            font-size: 25px;
        }
        
        .status__empresa>div {
            height: 60px;
            padding: 8px;
        }
        
        .indicador {
            font-family: 'Inter';
            padding-top: 5px;
            font-size: 15px;
            font-weight: lighter;
            color: var(--slightly-transparent-white-stat-headings);
        }
        
        @media screen and (min-width: 400px) {
            main {
                padding: 40px;
            }
            .recipiente__conteudo {
                display: flex;
                flex-direction: row-reverse;
                padding: 100px;
            }
            .imagem {
                width: 50%;
                height: auto;
                border-radius: 0px 15px 15px 0px;
            }
            .imagem img {
                height: 100%;
                filter: opacity(55%);
                border-radius: 0px 15px 15px 0px;
            }
            .conteudo__descricao {
                width: 50%;
                text-align: left;
                border-radius: 15px 0px 0px 15px;
            }
            .descricao__conteudo {
                padding: 10%;
            }
            .titulo__descricao {
                font-size: 37px;
            }
            .descricao__detalhes {
                font-family: "Inter";
                font-size: 15px;
            }
            .status__empresa {
                display: flex;
                justify-content: space-between;
            }
            .status__empresa>div {
                padding: 0px;
            }
        }
